<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Datos de Familiares</title>
   </head>
  <body>
    <h1>Datos Familia:</h1>
    <div class="container">
        <table class="table table-striped-columns">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Correo</th>
          </tr>
        </thead>
        <tbody>
                <tr>
                    <th scope="row">familiar.id</th>
                    <td>familiar.nombre</td>
                    <td>familiar.apellido</td>
                    <td>familiar.fecha_nacimiento</td>
                    <td>familiar.telefono</td>
                    <td>familiar.correo</td>
                </tr>
        </tbody>
      </table></div>
   </body>
</html>